#h1{
  left:40%;
  font-family:Geneva,tahoma;
  top:15%;
  position:absolute;
  color:black;
  
}
#body{
  background-color:#350FA8;
}

#Message
{
  color : #1B2DF2;
  position : absolute;
  top : 40%;
  left : 36%;
  word-wrap: break-word;
   width: 80px;
  text-align:center;
  text-shadow:5px 5px 30px #4E75F5;
  font-size:14px;
 
}

#ballParent{
  position:relative;
  left : 25%;
  margin-top : 15%;
  
}

#ball{
  background-color:black;
  height:400px;
  width:400px;
  border-radius:400px;
  position:absolute;
 top:0%;
  left:8%;
  
  
}

#circle{
  background-color:white;
  height:240px;
  width:240px;
  position : absolute;
  border-radius:240px;
  margin-top:15%;
  margin-left:18%
  
 
}

#triangle{
   width: 0; 
	height: 0; 
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	
	border-top: 100 solid #07091F;
  position:absolute;
  margin-left:17%;
  margin-top:30%;

}

#textBox{
  
 border-radius:20%;
  
  
}

#button{
  
  border-radius:20%;
  border:black;
  background-color:grey;
  
}

#form{
  position:absolute;
  left:40%;
  margin-top : 15%;
}
