p{
    color:#0000A6;
    text-decoration:bold;
    font-size:400%;
    margin-left:40%;
}
#head{
	top:20%;
	left:20%;
    background-color:white;
    height:80px;
    width:80px;
    border:black solid 1px;
    border-radius:80px;
}

#body{
	top:30%;
	left:20%;
    background-color:white;
    height:150px;
    width:150px;
    border:black solid 1px;
    border-radius:150px;
}
#nose{
    width: 10;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 40px solid #FF3300;
	border-bottom: 5px solid transparent;
}

#eye1{
    height:10px;
    width:10px;
    border-radius:10px;
    background-color:black;

}

#eye2{
    height:10px;
    width:10px;
    border-radius:10px;
    background-color:black;

}



#button1{
    height:20px;
    width:20px;
    border-radius:12px;
    background-color:#4C1A1A;
    
}
#button2{
    height:20px;
    width:20px;
    border-radius:12px;
    background-color:#4C1A1A;
    
}
#button3{
    height:20px;
    width:20px;
    border-radius:12px;
    background-color:#4C1A1A;
    
}

#snow{
    height:7px;
    width:7px;
    background-color:white;
    border-radius:7px;
   
}

#mouth{
     height:10px;
     width:20px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background:red;
}

#Back{
	color:black;
	width:40px;
	height:40px;
	border-top:10%;
	border-left:10%;
}
