

body{
background-color:#242928;
text-align:center;

}

h1{
font-family:verdana;
text-align:center;
color:white;
position:absolute;
top:30%;
}

p{
  color:white;
  text-align:center;
  font-family:lucida;
  position:absolute;
  top:40%;
  
}

#back{
  width:70px;
  height:30px;
  border:2px black;
  background-color:blue;
  color:black;
  text-align:center;
  
}



