h1{
font-family:verdana;
text-align:center;
}

body{
background-color:#242928;

}

#back{
  width:70px;
  height:30px;
  border:2px black;
  background-color:blue;
  color:black;
  text-align:center;
}

ol{
  text-align:center;
}
