
body
{
    background-color: #0D0D0B ;
}


#caraselContainer
{
	position : relative;
	top : 150px;
	left : 27%;
}



.moveButton
{
    background-color: #2A2A25 ;
    height : 50px;
    width  : 50px;
    border: #545252 solid 1px;
    border-radius: 50px;

}

.Arrow
{
    position : relative;
    font-size: 20px;
    left : 18px;
    top :  9px;
    color : #545252;
}

.leftButton
{
	background-color:white;
    height: 2px;
    width:80px;
    border:black solid 1px;
    border-radius:80px;
	
}

#right
{
    position: relative;
    top : -325px;
    left : 55%;
}



#left
{
    position: relative;
    top : -275px;
    left : -10%;
}

.imageContainer {
	left : 25%;
    width: 50%;
    top : 15%;
    height : 400px;

}

.imageCaption
{
    position: absolute;
    top : 310px;
    left : 15%;
    text-align:center;
    color:rgb(255,255,255)
}



/* resize images */
.caraselImage{

    width: 100%;
    height: 75%;
   
}
