img{
   position:relative;
   left:0;
   top:0;
   height:100%;
   width:100%;
}

body{
   background-color:white;
   }

   
   
   h1{
   font-family: 'Mr Dafoe', cursive;
   color:#f975f7;
   size:400px;
 
transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 400px;
  margin-top: -120px;
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

#Subtitle
{
  font-family: 'Mr Dafoe';
  color: white;
  size : 50px;

  position: absolute;
  top : 44%;
  left: 44%;

}

.MainBody
{
  margin-top:20%;
}

#Profile
{
  margin-left:50%;
  margin-top: 50%;

}


#CityImage
{
  height: 100%;
  width: 100%;
}


#Aboutme{
   height:200px;
   width:200px;
   background-color:black;
   margin-left:300px;
   border-radius:100px;
   margin-top:50%;
}


#myProjects{
   height:200px;
   width:200px;
   background-color:black;
   margin-left:700px;
   border-radius:100px;
   margin-top:50%;
}

#me{
   height:100px;
   width:100px;
   border-radius:70px;
   border:black solid 10px;
  position: absolute;
  top : 33%;
  left: 44%;
}
